.profile {
  display: grid;
  grid-template-columns: 4fr 7fr;
  gap: 80px 50px;
}

.profile section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile span {
  display: flex;
  gap: 14px;
  align-items: flex-end;
  width: min-content;
  line-height: 1;
}

.profile span p {
  margin: 5px 0;
}

.rating {
  display: flex;
  gap: 50px;
  align-items: flex-end;
}

.rating ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.profile li {
  display: flex;
  gap: 3px;
}

.profile .filler {
  flex: 1;
  border-bottom: 2px dotted var(--foreground);
  transform: translateY(-5px);
  opacity: 0.4;
}

.image {
  display: flex;
  align-items: center;
}

.image div {
  display: flex;
  position: relative;
  width: calc(100% + 100px);
  aspect-ratio: 1/1;
  margin: -50px;
}

.coursesBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.info {
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .profile {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .coursesBox {
    gap: 16px;
  }

  .profile section {
    gap: 16px;
  }
}
