.rate:hover path {
  transition: all 200ms ease-in-out;
  fill: var(--hover);
}

.rate.selected svg path {
  fill: var(--accent);
  stroke: var(--accent);
}

@media (max-width: 1000px) {
  .rate svg {
    width: 50px;
    height: 50px;
  }
}
