.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 150px 50px;
  gap: 100px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  min-height: 500px;
  min-width: calc(500px * 1728 / 1007);
  z-index: -1;
  aspect-ratio: 1728 / 1007;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
}

@media screen and (max-width: calc(500px * 1728 / 1007)) {
  .bg {
    translate: calc((500px * 1728 / 1007 - 100vw) / -2);
  }
}
